*, ::after, ::before {
  box-sizing: border-box;
}

body {
  /* font-family: ; */
}

button {
  cursor: pointer;
}

.no-style-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.card-wrapper {
  display: grid;
  align-items: start;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 15px;
  @media (max-width: 991px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}